{% extends "layout.html" %} {% block title %} Main {% endblock %} {% block
content %}
<hr />
<h3>Welcome to Discussion Forum!</h3>
<hr />

<div class="container">
  <div>
    <ul>
      <h2>Forums</h2>
      {% if not threads %}
      <div class="center">
        <hr>
        <h4>Nothing here yet</h4>
        <hr>
      </div>
      {% else %}
      {% for thread in threads %}
      <hr />
      <li>
        <h4><a href="/thread/{{thread.id}}">{{thread.name}}</a></h4>
        {{thread.des}}
      </li>
      <br />
      <small>
        Threads: {{thread[6]}} &nbsp; <img src="/static/styles/img/1.png" width="18" height="18"> {{thread[7]}}
        &nbsp; Latest
        reply: {{thread[8]}}</small>
      <hr />
      {% if session.user_role == 2 %}
      <div class="sremove">
      <form action="/remove_thread"
        onSubmit="return confirm('Are you sure you wish to remove \042{{thread.name}}\042 thread?');" method="POST">
        <input type="submit" class="sremove" style="border:none" value="Remove" />
        <input type="hidden" name="thread_id" value="{{thread.id}}" />
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
      </form>
    </div>
      <hr>
      {% endif %} {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% if session.user_id %}
  <div>
      {% if restricted_threads %}
      <ul>
        <h2>Restricted Forums</h2>
        
      {% for restricted_thread in restricted_threads %}
      <hr />
      <li>
        <h4><a href="/thread/{{restricted_thread.id}}">{{restricted_thread.name}}</a></h4>
        {{restricted_thread.des}}
      </li>
      <br />
      <small>
        Threads: {{restricted_thread[6]}} &nbsp; <img src="/static/styles/img/1.png" width="18" height="18">
        {{restricted_thread[7]}} &nbsp; Latest
        reply: {{restricted_thread[8]}}</small>
      <hr />

      {% if session.user_role == 2 %}
      <div class="sremove">
      <form action="/remove_thread"
        onSubmit="return confirm('Are you sure you wish to remove \042{{restricted_thread.name}}\042 thread?');" method="POST">
        <input type="submit" class="sremove" style="border:none" value="Remove" />
        <input type="hidden" name="thread_id" value="{{restricted_thread.id}}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
      <a href="/permission/{{restricted_thread.id}}"><small>Add permissions</small></a>&nbsp;
      <a href="/permission/{{restricted_thread.id}}/remove"><small>Remove permissions</small></a>
      <hr>
    </div>
      {% endif %} {% endfor %}
    </ul>
    {% endif %} {% endif %}
  </div>

  <ul>
    <div class="center">
      {% if session.user_role == 2 %}
      <button class="btn btn-outline-dark" onclick="openForm()">Create new thread</button>
      <div class="form-popup" id="myForm">
        <br>
        <form class="form" action="/" method="POST">
          <small><input type="text" name="name" placeholder="Subject" /></small><br>
          <small><input type="text" name="des" placeholder="Description" /></small><br>
          <small><select name="restricted">
                <option value="0">Public</option>
                <option value="1">Restricted</option>
              </select></small><br><br>

          <button class="btn btn-outline-dark btn-sm">Create thread</button>
          <button type="button" class="btn btn-outline-dark btn-sm" onclick="closeForm()">Cancel</button>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>

      <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
      </script>
      <br />
      {% endif %}
  </ul>
</div>
</div>
</div>

{% endblock %}