<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="container">
  <form action="/search" class="search" method="POST">
    <input type="text" name="message">
    <button><i class="fa fa-search" style="font-size: 12px;">
      </i></button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>

  <h2>
    <img src="../static/styles/img/logo.png" width="50" height="50"><strong>
      <a href="/"> Discussion Forum </a></strong>
  </h2>

  {% if session.user_id %}<small>Signed in as <b>{{session.user_name}}</b></small>.
  <button onclick="location.href='/logout'"><small>Log out</small></button>
  {% else %}
  <button onclick="location.href='/register'"><small>Sign up</small></button>
  <button onclick="location.href='/login'"><small>Log in</small></button>
  {% endif %}
</div>

<body>
  <div class="container">
    <div class="center">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          $('.alert').alert()
        })
      </script>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  {% block content %} {% endblock %}
  <footer>
    <div class="footer">
      <small>Discussion Forum 2022</small>
    </div>
  </footer>
</body>

</html>