<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" />

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div id="header">
  <form action="/search", class="search" method="POST">
    <input type="text" name="message">
    <button>Search</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>

  <h2>
    <img
      src="static/styles/images/user_message.png" /><strong>
      <a href="/"> Discussion Forum </a></strong>
  </h2>

  {% if session.user_id %}Signed in as <b>{{session.user_name}}</b>.
  <button onclick="location.href='/logout'">Log out</button>
  {% else %}

  <button onclick="location.href='/register'">Sign up</button>
  <button onclick="location.href='/login'">Log in</button>
  {% endif %}

</div>

<body>
  {% block content %} {% endblock %}
  <footer>
    <div class="footer">
      <small>Discussion Forum 2022</small>
    </div>
  </footer>
</body>

</html>