<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %} login {% endblock %}
{% block content %}
<hr> <h3>Login</h3> <hr>
<br>
<div class="center">
<form action="/login" method="post">
    Username: <input type="text" name="username">
    <p>
    Password: <input type="password" name="password">
    <p>
    <input type="submit" value="Login">
    </form>
     No account? No problem. Sign up <a href="/register">here</a> <br>
    </div>
     {% endblock %}
