<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

{% extends "layout.html" %} {% block title %} login {% endblock %} {% block
content %}
<hr />
<h3>Login</h3>
<hr />
<br />
<div class="container">
  <div class="center">
    <form action="/login" id="sign" method="post">
      <small>Username:</small> <input type="text" name="username" />
      <p><small>Password:</small> <input type="password" name="password" /></p>
      <p>
        <input class="btn default" type="submit" value="Login" />
      </p>
    </form>

    <small>No account? No problem. Sign up <a href="/register">here</a></small> <br />
  </div>
</div>
{% endblock %}