{% extends "layout.html" %} {% block title %} Main {% endblock %} {% block
content %}
<hr />
<h3>Edit message</h3>
<hr />

<div class="container">
  <div class="center">
    <form
      action="/subthread/{{subthreads.id}}/edit_message/{{messages.id}}"
      class="center"
      method="POST"
    >
      <textarea name="content" rows="4" cols="50">
 {{messages.content}} </textarea
      >
      <br /><br />
      <input type="submit" name="edit" value="Update" />
      <input type="hidden" name="message_id" value="{{messages.id}}" />
    </form>
    <button onclick="location.href='/subthread/{{subthreads.id}}'">
      Return
    </button>
  </div>
</div>

{% endblock %}
