<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

{% extends "layout.html" %} {% block title %} register {% endblock %} {% block
content %}

<hr />
<h3>Sign up</h3>
<hr />
<div class="container">
  <div class="center">
    <form action="/register" method="post">
      Username:
      <input type="text" name="username" minlength="1" maxlength="20" />
      <br />
      Password:
      <input type="password" name="password1" minlength="4" maxlength="64" />
      <br />
      RE password: <input type="password" name="password2" />
      <br />
      Role:
      <select name="role">
        <option value="1">User</option>
        <option value="2">Admin</option>
      </select>

      <p>
        <input type="submit" value="Create account" />
      </p>
    </form>

    <button onclick="location.href='/login'">Return to login</button>
  </div>
</div>
{% endblock %}