{% extends "layout.html" %}
{% block title %} subthread {% endblock %}
{% block content %}
<hr> <h3>{{subthreads.name}}</h3> <hr>

<div class="container">
    <ul style="list-style-type:none;">
        <hr><p> <b>{{subthreads.username}} (OP)</b> <br><small>Posted: {{subthreads.created_at.strftime("%I:%M %p %B %d")}}</small> <br><br>{{subthreads.content}}</p><hr>

        {% for message in messages %}
        {% if session.user_id == message.user_id or session.user_role == 2 %}
        <form action="/remove_message" method="POST">
            <hr><p> <b>{{message.username}}</b> <br><small>Posted: {{message.created_at.strftime("%I:%M %p %B %d")}}</small><br><br>{{message.content}}</p><hr>
            <input type="submit" value="Remove">
            <input type="hidden" name="message_id" value="{{message.id}}">
        </form>
        {% else %}
        <hr><p> <b>{{message.username}}</b> <br><small>Posted: {{ message.created_at.strftime("%I:%M %p %B %d")}}</small> <br><br>{{message.content}}</p><hr>
        {% endif %}
        {% endfor %}
    </ul>

{% if session.user_role == 1 or session.user_role == 2 %}
<form class="form" action="/subthread/{{subthreads.id}}" method="POST">
    <p><textarea name="content" placeholder="Reply to this discussion"></textarea></p>
    <button class="button">Submit reply</button>
</form>
{% endif %}
<div>

{% endblock %}

