{% extends "layout.html" %}
{% block title %} subthread {% endblock %}
{% block content %}

{% if not subthreads.visible %}
<hr>
<h3>This discussion doesn't exist anymore</h3>
<hr>
<div class="center">
<button  onclick="location.href='/'">
    Return
  </button>
</div>
{% else %}
<hr>
<h3>{{subthreads.name}}</h3>
<hr>

<div class="container">
    <ul style="list-style-type:none;">
        <h2>Comments</h2>
        <hr>
        <p> <b>{{subthreads.username}} (OP)</b> <br><small>Posted:
                {{subthreads.created_at.strftime("%I:%M %p %B %d")}}</small> <br><br>{{subthreads.content}}</p>
        <hr>
        {% if session.user_id == subthreads.user_id or session.user_role == 2 %}
        <a href="/edit_subthread/{{subthreads.id}}"><small>Edit</small></a>
        {% endif %}

        {% for message in messages %}
        {% if session.user_id == message.user_id or session.user_role == 2 %}

        <hr>
        <p><b>{{message.username}}</b>
            <br><small>Posted:{{message.created_at.strftime("%I:%M %p %B %d")}}</small><br><br>{{message.content}}</p>
        <hr>
        <div class="sremove">
            <form action="/remove_message"
                onSubmit="return confirm('Are you sure you wish to remove the message {{message.content}} ?');"
                method="POST">
                <a href="/subthread/{{subthreads.id}}/edit_message/{{message.id}}"><small>Edit</small></a>
                <input type="submit" value="Remove">
                <input type="hidden" name="message_id" value="{{message.id}}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        {% else %}
        <hr>
        <p> <b>{{message.username}}</b> <br><small>Posted: {{message.created_at.strftime("%I:%M %p %B %d")}}</small>
            <br><br>{{message.content}}</p>
        <hr>
        {% endif %}
        {% endfor %}
    </ul>

    <br>
    <div class="center">
        {% if session.user_role == 1 or session.user_role == 2 %}
        <form class="form" action="/subthread/{{subthreads.id}}" method="POST">
            <p><input type="text" id="message" name="content" placeholder="Reply to this conversation"></input></p>
            <button class="btn default" >Submit reply</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <h5><a href="/login">Log in</a> to join the conversation</h5>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}