{% extends "layout.html" %}
{% block title %} thread {% endblock %}
{% block content %}

{% if thread.restricted and not check_permission %}
<hr>
<h3>You have no permission to view this thread</h3>
<hr>
<div class="center">
    <button class="btn btn-outline-dark btn-sm" onclick="location.href='/'">
        Return
    </button>
</div>

{% elif not thread.visible %}
<hr>
<h3>This thread doesn't exist anymore</h3>
<hr>
<div class="center">
    <button class="btn btn-outline-dark btn-sm" onclick="location.href='/'">
        Return
    </button>
</div>

{% else %}
<hr>
<h3>{{thread.name}}</h3>
<hr>
<div class="container">
    {% if not subthreads %}
    <div class="center">
        <br>
        <h4>Nothing here yet</h4>
    </div>
    <br>
    {% else %}
    <ul>
        <h2>Discussions</h2>
        {% for subthread in subthreads %}
        {% if session.user_id == subthread.user_id or session.user_role == 2 %}
        <div class="sremove">
            <form action="/remove_subthread"
                onSubmit="return confirm('Are you sure you wish to remove \042{{subthread.name}}\042 discussion?');"
                method="POST">
                <hr><a href="/subthread/{{subthread.id}}">
                    <li>
                        <h4>{{subthread.name}}
                    </li>
                    </h4>
                </a>
                <small>{{subthread[2]}}</small>
                <br><br>
                <small>By {{subthread[6]}},&nbsp;{{subthread[4].strftime("%B %d")}} &nbsp;<img
                        src="/static/styles/img/1.png" width="18" height="18"> {{subthread[8]+1}} &nbsp;Latest reply:
                    {{subthread[7]}}</small>
                <br>
                <hr>
                <input type="submit" class="sremove" style="border:none" value="Remove">
                <input type="hidden" name="subthread_id" value="{{subthread.id}}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <hr>
            </form>
        </div>
        {% else %}
        <hr><a href="/subthread/{{subthread.id}}">
            <li>
                <h4>{{subthread.name}}
            </li>
            </h4>
        </a>
        <small>{{subthread[2]}}</small>
        <br><br>
        <small>By {{subthread[6]}},&nbsp;{{subthread[4].strftime("%B %d")}} &nbsp;<img src="/static/styles/img/1.png"
                width="18" height="18"> {{subthread[8]+1}} &nbsp;Latest reply:
            {{subthread[7]}}</small>
        <hr>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="center">
        {% if session.user_role == 1 or session.user_role == 2 %}
        <button class="btn btn-outline-dark" onclick="openForm()">Create new conversation</button>
        <div class="form-popup" id="myForm">
            <form class="form" action="/thread/{{thread.id}}" method="POST">
                <br>
                <small><input type="text" name="name" placeholder="Subject"></small><br>
                <small><input type="text" name="content" placeholder="Description"></textarea></small>
                <br><br>
                <button class="btn btn-outline-dark btn-sm">Create thread</button>
                <button type="button" class="btn btn-outline-dark btn-sm" onclick="closeForm()">Cancel</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
        </script>
        {% else %}
        <br>
        <h5><a href="/login">Log in</a> to join the conversation</h5>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}