{% extends "layout.html" %}
{% block title %} thread {% endblock %}
{% block content %}
<hr> <h3>{{thread.name}}</h3> <hr>

<div>
    <ul style="list-style-type:none;">
        <h2>Discussions</h2>
        {% for subthread in subthreads %}
        {% if session.user_id == subthread.user_id or session.user_role == 2 %}
        <form action="/remove_subthread" method="POST">
            <hr>
            <a href="/subthread/{{subthread.id}}"><li><h4><img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/24x24/plain/message.png">&nbsp;{{subthread.name}}<hr><input type="submit" value="Remove"></li></h4></a> 
            
            <input type="hidden" name="subthread_id" value="{{subthread.id}}">
        </form>
        {% else %}
        <hr>
        <a href="/subthread/{{subthread.id}}"><li><h4><img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/24x24/plain/message.png">&nbsp;{{subthread.name}}</li></h4></a>
        <hr>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{% if session.user_role == 1 or session.user_role == 2 %}
<form class="form" action="/thread/{{thread.id}}" method="POST">
    <p><b>Create new conversation</b></p>
    <p><input type="text" name="name" placeholder="Subject"></p>
    <p><textarea name="content" placeholder="Write something.."></textarea></p>
    <button class="button">Create</button>
</form>
<p></p>
{% endif %}
{% endblock %}