{% extends "layout.html" %}
{% block title %} thread {% endblock %}
{% block content %}
<hr>
<h3>{{thread.name}}</h3>
<hr>

<div class="container">
    {% if not subthreads %}
    <div class="center">
        <br>
        <h4>Nothing here yet</h4>
    </div>
    <br>
    {% else %}

    <ul style="list-style-type:none;">
        <h2>Discussions</h2>
        {% for subthread in subthreads %}
        {% if session.user_id == subthread.user_id or session.user_role == 2 %}

        <form action="/remove_subthread" class="sremove"
            onSubmit="return confirm('Are you sure you wish to remove {{subthread.name}}?');" method="POST">
            <hr><a href="/subthread/{{subthread.id}}"><li><h4>{{subthread.name}}</li></h4></a>
            <small>{{subthread[2]}}</small>
            <br><br>
            <small>Replies: {{subthread[6]}}&nbsp;Last reply: {{subthread[5]}}</small>
            <br>
            <hr>
            <input type="submit" value="Remove">
            <input type="hidden" name="subthread_id" value="{{subthread.id}}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <hr><a href="/subthread/{{subthread.id}}">
            <li>
                <h4>{{subthread.name}}
            </li>
            </h4>
        </a>
        <small>{{subthread[2]}}</small>
        <br><br>
        <small>Replies: {{subthread[6]}}&nbsp;Last reply: {{subthread[5]}}</small>
        <hr>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="center">
        {% if session.user_role == 1 or session.user_role == 2 %}
        <form class="form" action="/thread/{{thread.id}}" method="POST">
            <p><b>Create new conversation</b></p>
            <p><input type="text" name="name" placeholder="Subject"></p>
            <p><input type="text" name="content" placeholder="Description"></textarea></p>
            <button class="button">Create</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <br>
        <h5><a href="/login">Log in</a> to join the conversation</h5>
        <button onclick="location.href='/'">
            Return
          </button>
        {% endif %}
    </div>
</div>
{% endblock %}