body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

form {
  display: inline;
}

ul {
  width: 100%;
  margin: auto;
  list-style-type:none;
  padding:0;
  
}

.center {
  text-align: center;
}

.container {
  background: none;
  overflow: none;
  display: block;
}

h2 {
  font-size: 1.8em;
  margin-top: 10px;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  font-weight: 430;
}

h5 {
  font-size: 1.6em;
  margin-top: 10px;
  letter-spacing: -2px;
  color: rgb(192, 192, 192);
  text-align: center;
}

small {
  color: rgb(96, 96, 96);
  font-size: .8rem;
  letter-spacing: 0.5px;
}

.menu {
  float: left;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li+li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}


button {
  font-size: .8rem;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type="submit"] {
  background-color: transparent;
}

input[type=text],
input[type=password],
select {
  width: 45%;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 100%;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #ccc;

}

input#message {
  text-align: center;
  width: 90%;
  text-indent: 20px;
  padding: 10px;
  max-width: 100%;
  line-height: 6;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

input#message:focus {
  background-image: none;
  text-indent: 0px;
}

hr {
  border-top: 1px solid #f1f1f1;
}

label,
textarea {
  font-size: .9rem;
  letter-spacing: 1px;
}

textarea {
  text-align: center;
  width: 100%;
  padding: 10px;
  max-width: 100%;
  line-height: 2;
  border-radius: 1px;
  border: 1px solid #999;
  box-shadow: 1px 1px 1px #999;
}

.search {
  width: 50%;
  height: 35px;
  float: right;
  margin: 7px;
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.search button {
  background-color: #FFF;
  color: #000;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.sremove {
  color: rgb(96, 96, 96);
  font-size: .8rem;
  letter-spacing: 0.5px;
}

footer {
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}


.open-button {
  background-color: rgb(188, 188, 188);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  bottom: 0;
  right: 15px;

  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}