body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.center {
  text-align: center;
}

header {
  background-color: #dfb887;
  height: 35px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
h2 {
  font-size: 1.8em;
  margin-top: 10px;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: -2px;
  color: rgb(0, 0, 0);
  font-weight: 430;
}

small {
  color: rgb(96, 96, 96);
  font-size: .8rem;
  letter-spacing: 0.5px;
}

.menu {
  float: left;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

div.top {
  border-top-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}

button, input[type="submit"] {
  font-size: .8rem;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type=text], input[type=password], select {
  width: 70%;
  padding: 8px 16px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input#message {
  background-image: url("https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/32x32/plain/user_message.png");
  background-repeat: no-repeat;
  text-indent: 20px;
}

input#message:focus{
  background-image:none;
  text-indent: 0px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    width: 70%;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}